/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/


/* adjust logo */
#section-about img#about-logo {
	width: 80%; 
	margin: 0 auto;
}

/* justify text */
p, .justified {
  	text-align: justify;
    text-justify: inter-word;
}

::-webkit-input-placeholder { color:#555 !important; }
::-moz-placeholder { color:#555 !important; } /* firefox 19+ */
:-ms-input-placeholder { color:#555 !important; } /* ie */
input:-moz-placeholder { color:#555 !important; }

.device-xxs .opm-large-word {
	font-size: 40px !important;
}

.opm-large-word {
	font-size: 44px;
	color: white;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}


#logo h1 {
	color: white;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.device-sm .opm-large-word {
	font-size: 36px;
}

#section-about img#about-logo {
	max-height: 120px;
	width: auto;
}


